// Colors
$color-white: #ffffff;
$color-black: #222527;
$color-primary-1: #e7ddf2;
$color-primary-2: #c8e6fe;
$color-secondary-1: #83d39d;
$color-secondary-2: #e65776;
$color-placeholder-text: #b6afc3;

// Font
$font-size-placeholder-text: 1.2rem;
$font-size-sm: 1.2rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-family: 'Roboto', sans-serif;

// Layout
$transHeigth: 4.6rem;
